<!-- <template>
  <div id="bar" class="borderColor">
    <br /><br />
    <h1 align-self="center">จัดการสถานประกอบการ</h1>
  </div>
</template>

<style>
#bar {
  height: 150px;
  background-color: rgb(68, 87, 255);
  text-align: center;
  color: white;
}
</style> -->
<template>
  <div>
    <b-img
      id="imgICON"
      left
      src="https://scontent.fbkk2-5.fna.fbcdn.net/v/t1.15752-9/86860261_203421677526158_7649283771459436544_n.jpg?_nc_cat=110&_nc_eui2=AeF5tWgR7_L528r626mI8Z5VR_-VsYjzQaRyXcAfMETpOmdKPSDpJAh-N1DoOlNRMptNSfBHmQVbXO0cl1e7AKRAukl3RdpoZsg5G4WIvafg4Q&_nc_oc=AQk2IVrtdHPmObd5LvdFqL41Yyf4l3SMGzSue-qs1lozkDJKvKCqLxRQ1XfYxVTEXsQ&_nc_ht=scontent.fbkk2-5.fna&oh=3c39d302bca46c5bfde844358cf7e60d&oe=5EC55F59"
      alt="Left image"
    ></b-img>
    <h1 class="text-center">ระบบจัดการสหกิจศึกษา</h1>
  </div>
</template>

<style scoped>
h1 {
  padding: 31px;
  background-color: rgb(43, 43, 245);
  color: white;
}
#imgICON {
  width: 170px;
  height: 110px;
}
</style>

<script>
export default {}
</script>
