<template>
  <b-container fluid>
    <b-row>
      <b-col><Header></Header></b-col>
    </b-row>
    <b-row>
      <b-col cols="2" style="padding:0px"><Menu></Menu></b-col>
      <b-col id="test2" style="padding:0px; padding-left"><router-view></router-view></b-col>
    </b-row>
  </b-container>
</template>

<script>
import Header from './Header.vue'
import Menu from './Menu.vue'
export default {
  components: {
    Header,
    Menu
  }
}
</script>

<style scoped>
border {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
</style>
