<template>
  <div>
    <b-nav vertical class="w-55">
      <div>
        <b-button-group vertical>
          <b-button variant="light"
            ><router-link to="/student">หน้าหลัก</router-link></b-button
          >
          <b-button variant="light"
            ><router-link to="/student">จัดการอบรม</router-link></b-button
          >
          <b-button variant="light"
            ><router-link to="/student">จัดการสหกิจ</router-link></b-button
          >
          <b-button variant="light"
            ><router-link to="/student"
              >รายชื่อผู้เข้าอบรม</router-link
            ></b-button
          >
          <b-button variant="light"
            ><router-link to="/student"
              >ผู้มีสิทธิสัมภาษณ์</router-link
            ></b-button
          >
          <b-button variant="light"
            ><router-link to="/student"
              >ผู้ผ่านสอบสัมภาษณ์</router-link
            ></b-button
          >
          <b-button variant="light"
            ><router-link to="/companies">สถานประกอบการ</router-link></b-button
          >
          <b-button variant="light"
            ><router-link to="/student"
              >รายชื่อนิสิตที่ไปสหกิจ</router-link
            ></b-button
          >
          <b-button variant="light"
            ><router-link to="/student">จัดการเอกสาร</router-link></b-button
          >
          <b-button variant="light"
            ><router-link to="/student">ออกจากระบบ</router-link></b-button
          >
          <b-button variant="light"
            ><router-link to="/about">About</router-link></b-button
          >
        </b-button-group>
      </div>
    </b-nav>
  </div>
</template>
